@import url('https://fonts.googleapis.com/css?family=Bangers|Montserrat&display=swap');

html{
	overflow: hidden;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: #FAFAFA;
}

h1{
	letter-spacing: 2px;
	font-size: 1.5rem;
	margin: 0;
	font-weight: bold;
}

#header{
	width: 100%;
	background-color: #24292E;
	color: white;
	min-height: 68px;
}

#header img{
	width: 18rem;
	margin: 1rem;
}

hr{
	border-color: transparent;
	box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

#filter{
	margin-left: 2rem;
}

#filter p{
	display: inline-block;
	margin-bottom: 0.4rem;
	font-size: 0.8rem;
}

#filter select{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	border-radius: 0.3rem;
	margin-right: 5rem;
	margin-bottom: 0.4rem;
	padding: 0.2rem;
}

#typeTitle{
	margin-left: 8rem;
}

#timeTitle{
	margin-left: 11rem;
}

/* #map{
	display: absolute;
	left: 50%;
	top: 5%;
	transform: translate(25%, 5%);
	width: 66%;
    height: 580px;
    object-fit: cover;	  
}

#gps{
	display: absolute;
	transform: translate(70%, -150%);
	width: 3%;
} */

#map{
	margin-top: 1%;
}
