@import url('https://fonts.googleapis.com/css?family=Bangers|Montserrat:400,700&display=swap');

html{
	overflow: hidden;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: #FAFAFA;
}

h1{
	letter-spacing: 2px;
	font-size: 1.5rem;
	margin: 0;
	font-weight: bold;
}

#header{
	width: 100%;
	background-color: #24292E;
	color: white;
	min-height: 68px;
}

#header img{
	width: 18rem;
	margin: 1rem;
}

#header a{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.85);
	float: right;
	font-weight: bold;
	margin: 1.5rem 2rem;
}

#header a:hover{
	color: rgba(255, 255, 255, 1);
}

#content1{
	margin: 3rem 1rem 0 3rem;
}

#content1 img{
	display: inline-block;	
	width: 48%;
}
#text{
	display: inline-block;	
	width: 48%;
}

#content1 h1{
	margin-left: 1.5rem;
	margin-bottom: 2rem;
	padding: 1rem;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#content1 p{
	background-color: #F5F5F5;
	margin-left: -5rem;
	padding: 1rem;
}

#subtitle{
	text-align: center;
	font-size: 1.1rem;
}

#content2{
	margin: 2rem 3rem;
}

#content2 h1{
	margin-right: 3rem;
	padding: 1rem;
	width: 20%;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: inline-block;
}

#content2 a{
	text-decoration: none;
	color: white;
	border-radius: 0.3rem;
	background-color: rgba(232, 55, 7, 0.7);
	padding: 0.5rem;
	font-size: 1rem;
	display: inline-block;
	margin-right: 3rem;
}

#content2 a:hover{
	background-color: rgba(232, 55, 7, 0.9);
}